/* body{
    background-image: url('../../public/images/home-bg.jpg');
    background-size: cover;
    background-position: center;
} */
.homeDiv{
    display: flex;
    flex-direction: column;
    gap : 10px;
    align-items: center;
}

.homeDiv .new{
    color : #4b5a4a;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: yellow;
    border : 2px solid yellow;
    border-radius: 10px;
    margin: 20px;
    padding : 10px;
}

.homeDiv .user{
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}

.tableContainer {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
  
.tableContainer th, .tableContainer td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.tableContainer tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
.tableContainer tr:hover {
    background-color: #ddd;
}
  
.tableContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: yellow;
    color : #4b5a4a;
}

  .homeDiv .name{
    font-size: 25px;
    font-weight: 600;
    font-family: monospace;
  }

.homeDiv .btns{
    display: flex;
    gap : 30px;
}

.homeDiv .btns button{
    color : #4b5a4a;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: yellow;
    border : 2px solid yellow;
    border-radius: 10px;
    padding : 10px;
}

.homeDiv #pokemonContainer{
    position: relative;
    width : 600px;
    height : 400px;
    margin : 50px;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}